@media screen and (min-width:1024px){
  .payment-page{
    width: 100%;
    height: 100%;
    margin: auto;
    
  }
  .payment-container {
        width: 5cm;
        height: 9cm;
        background-color: rgb(227, 225, 225);
        padding: 15px;
        border-radius: 5px;
        margin-top: 2cm;
        margin-left: 22cm;
        margin-bottom: 2cm;
        
        
      }
      
      .container-discount {
        margin-bottom: 10px;
      }
      
      .coupon-options {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .coupon-options label {
        margin-bottom: 5px;
      }
      
      .payment-container p {
        white-space: normal;
        word-wrap: break-word;
        
        
      }
      .discount-text{
        color: green;

      }
      #container-address-paymentPage {
        width: 20%;
        margin-top: 40px;
        background-color: rgb(255, 255, 255);
        position: relative;
        top: -400px;
        left: 400px;

      }
      
      #container-address-paymentPage-s1 li {
        margin-bottom: 10px;
        padding: 10px;
        background-color: #f5f5f5;
        border-radius: 4px;
      }
      
      #container-address-paymentPage-s1 li input[type="radio"] {
        margin-right: 10px;
      }
      
      #container-address-paymentPage-s1 li label {
        font-weight: bold;
      }
      
}
/*end of design for desktop---------------------------------------------------------*/
@media screen and (min-width: 764px) and (max-width: 1023px){
  .payment-page{
    width: 100%;
    height: 100%;
    margin: auto;
    
  }
  .payment-container {
        width: 5cm;
        height: 9cm;
        background-color: rgb(227, 225, 225);
        padding: 15px;
       position: absolute;
       right: 100px;
        
        
      }
      
      .container-discount {
        margin-bottom: 10px;
      }
      
      .coupon-options {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .coupon-options label {
        margin-bottom: 5px;
      }
      
      .payment-container p {
        white-space: normal;
        word-wrap: break-word;
        
        
      }
      .discount-text{
        color: green;

      }
      #container-address-paymentPage {
        width: 20%;
        margin-top: 40px;
        background-color: rgb(255, 255, 255);
        position: relative;
        top: 00px;
        left: 220px;

      }
      
      #container-address-paymentPage-s1 li {
        margin-bottom: 10px;
        padding: 10px;
        background-color: #f5f5f5;
        border-radius: 4px;
      }
      
      #container-address-paymentPage-s1 li input[type="radio"] {
        margin-right: 10px;
      }
      
      #container-address-paymentPage-s1 li label {
        font-weight: bold;
      }
      #order-bttn{
        position: relative;
        top: 9.5cm;
        padding: 15px;
        font-size: 15px;
      }

}