@media screen and (min-width:1024px){
    .pdetails-container{
        background-color: rgb(251, 242, 251);
        width: 15cm;
        height: 15cm;
        margin: auto;
        margin-top: 20px;
        box-shadow: 1px 2px 2px  gray;
    }
    .pdetails-container>img{
        width: 50%;
        height: 50%;
        margin-top: 10px;
    }
    .pdetails-container>h4{
        color: grey;
        font-size: large;
        margin-top: 10px;
    }
    .pdetails-container-s>p:nth-child(1){
        color: rgb(72, 71, 71);
        margin: -15px;
        font-weight: 500;
    }
    .pdetails-container-s>p:nth-child(2){
color: green;
font-size: large;
font-weight: 600;
margin-top: 25px;
    }
    .pdetails-container-s>p:nth-child(3){
word-wrap: break-word;
width: 80%;
margin: auto;
margin-bottom: 10px;
    }  
    .pdetails-container>button{
        margin: 0px 0px 0px 5px;
    }
    .container-wishlist-icon-pDetails{
        position: relative;
        right: -7cm;
        top: -13cm;
        
        
    }

}
